<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true"
    bootstrap="vendor/autoload.php">
    <testsuite name="Litmus Test Suite">
        <directory>./tests/</directory>
    </testsuite>
</phpunit>
